<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title, links)">
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <link rel="icon" th:href="@{/images/monkey-avatar.png}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap"
      rel="stylesheet" />
    <link th:href="@{/css/blog.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      th:href="@{/fontawesome-free-5.15.4-web/css/all.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery.alerts.min.css}" />
    <th:block th:replace="${links}" />
    <title>Curso Spring boot</title>
  </head>
  <body>
    <div class="container">
      <header th:fragment="cabecero" class="blog-header py-3">
        <div
          class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="link-secondary" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">
              <img
                th:src="@{/images/monkey-avatar.png}"
                alt=""
                height="50"
                width="50" />
            </a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="link-secondary" href="#" aria-label="Search">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="mx-3"
                role="img"
                viewBox="0 0 24 24">
                <title>Search</title>
                <circle cx="10.5" cy="10.5" r="7.5" />
                <path d="M21 21l-5.2-5.2" />
              </svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="#"
              >Sign up</a
            >
          </div>
        </div>
      </header>

      <div th:fragment="menu" class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 link-secondary" th:href="@{/templates/estaticos}"
            >Estaticos</a
          >
          <a class="p-2 link-secondary" th:href="@{/templates/estaticos2}"
            >Estatocos 2</a
          >
          <a class="p-2 link-secondary" th:href="@{/templates/ajax}"
            >AJAX</a
          >
          <a class="p-2 link-secondary" th:href="@{/formularios}"
            >Formularios</a
          >
          <a class="p-2 link-secondary" th:href="@{cliente-rest}"
            >Cliente Rest</a
          >
          <a class="p-2 link-secondary" th:href="@{jpa-repository}"
            >JPA Mysql</a
          >
        </nav>
      </div>
    </div>
    <footer th:fragment="footer" class="blog-footer">
      <p>Henry Rincon</p>
    </footer>
    <div th:fragment="scripts">
      <script th:src="@{/js/jquery.min.js}"></script>
      <script th:src="@{/js/jquery.alerts.min.js}"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      <script th:src="@{/js/funciones.js}"></script>
    </div>
  </body>
</html>
